* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to left, #ffe1d1, #ffdbca);
  background: url(./images/bg2.png) no-repeat;
  background-size: cover;
}

:root {

  --mainBlack: #000;

}

